html {
  .btn-success,
  .btn-primary,
  .btn-info,
  .btn-warning,
  .btn-danger,
  .btn-dark,
  .btn-secondary {
    color: white;
  }

  .btn-primary {
    &:hover {
      color: white;
    }
  }

  .btn-outline-primary-hover {
    background-color: transparent;
    border-color: $dark-grey;
    color: $dark-grey;

    &:hover {
      border-color: $mid-blue;
      color: $mid-blue;
      background-color: transparent;
    }
  }

  .btn-outline-info-hover {
    background-color: transparent;
    border-color: $dark-grey;
    color: $dark-grey;

    &:hover {
      border-color: $light-blue;
      color: $light-blue;
      background-color: transparent;
    }
  }

  .btn-outline-danger-hover {
    background-color: transparent;
    border-color: $dark-grey;
    color: $dark-grey;

    &:hover {
      border-color: $danger;
      color: $danger;
      background-color: transparent;
    }
  }

  .btn-outline-warning-hover {
    background-color: transparent;
    border-color: $dark-grey;
    color: $dark-grey;

    &:hover {
      border-color: $warning;
      color: $warning;
      background-color: transparent;
    }
  }

  .btn-outline-dark-hover {
    background-color: transparent;
    border-color: $dark-grey;
    color: $dark-grey;

    &:hover {
      border-color: $black;
      color: $black;
      background-color: transparent;
    }
  }

  .btn-outline-success-hover {
    background-color: transparent;
    border-color: $dark-grey;
    color: $dark-grey;

    &:hover {
      border-color: $dark-green;
      color: $dark-green;
      background-color: transparent;
    }
  }
}