html {
  .btn-success,
  .btn-primary,
  .btn-info,
  .btn-warning,
  .btn-danger,
  .btn-dark,
  .btn-secondary {
    color: white;
  }

  .btn-outline-primary {
    &:hover {
      color: white;
    }
  }

  .btn-outline-primary-hover {
    background-color: transparent;
    border-color: $light-grey;
    color: $light-grey;

    &:hover {
      border-color: $mid-blue;
      color: $mid-blue;
      background-color: transparent;
    }
  }

  .btn-outline-info-hover {
    background-color: transparent;
    border-color: $light-grey;
    color: $light-grey;

    &:hover {
      border-color: $light-blue;
      color: $light-blue;
      background-color: transparent;
    }
  }

  .btn-outline-danger-hover {
    background-color: transparent;
    border-color: $light-grey;
    color: $light-grey;

    &:hover {
      border-color: $danger;
      color: $danger;
      background-color: transparent;
    }
  }

  .btn-outline-warning-hover {
    background-color: transparent;
    border-color: $light-grey;
    color: $light-grey;

    &:hover {
      border-color: $warning;
      color: $warning;
      background-color: transparent;
    }
  }

  .btn-outline-dark-hover {
    background-color: transparent;
    border-color: $light-grey;
    color: $light-grey;

    &:hover {
      border-color: $black;
      color: $black;
      background-color: transparent;
    }
  }

  .btn-outline-success-hover {
    background-color: transparent;
    border-color: $light-grey;
    color: $light-grey;

    &:hover {
      border-color: $dark-green;
      color: $dark-green;
      background-color: transparent;
    }
  }

  .btn {
    --bs-btn-border-radius: 6px;
  }

  // header buttons of PlotModuleUI / TableModuleUI
  .btn-circle-xs,
  .btn-circle-xs:focus {
    background: #FFFFFF;
    color: #DDD;
    text-shadow: 0 0 0px #ccc;
    border: 0px;
    border-radius: 3px !important;
  }

  .btn-circle-xs:hover {
    background-color: #fff;
    color: #444;
    border: 0px;
    border-radius: 3px;
  }

  // confirmation checkmark flashed by addTick()
  .tick {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .show-tick .tick {
    opacity: 1;
  }
}
