$black: black;
$light-grey: #F8F8F8;
$super-light-grey: #FDFDFD;
$mid-grey: #d8d8d8;
$dark-grey: #D2D7D6;
$super-dark-grey: #363535;
$brand-blue: #004CA7;
$pale-blue: #F7FAFD;
$mid-blue: #3181DE;
$light-blue: #6ABEEA;
$dark-green: #86A563;
$light-green: #ABD27E;
$orange: #E45C00;
$light-orange: #FFAE77;
$danger: #BF616A;