.dropdown-menu {
    margin: 5px 1px !important;
}

.dropdown-menu.show {
    font-size: 1.1em;
    box-shadow: 0px 0px 15px #444;
    left: -0% !important;
}

.dropdown-menu .form-group {
    margin-bottom: 0rem;
}

.dropdown-items {
    margin: 10px;
}
