.hover-dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.hover-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    font-size: 0.95em;
    border: 1px solid rgba(0,0,0,0.175);
    border-radius: 0.375rem;
    z-index: 1;
}

.hover-dropdown-content .custom-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hover-dropdown:hover .hover-dropdown-content {
    display: block;
}

.hover-dropdown-button {
    font-size: 25px;
    color: #3181DE;
}
