#settings-container {
  min-height: 92vh;   
  padding: 0;
  border-left: 1px solid $mid-grey;
  border-right: 1px solid $mid-grey;
  background-color: $pale-blue;
}

.settings-expanded {
  min-width: 12rem;
}

.settings-collapsed {
  width: 2.5rem;
  max-width: 2.5rem;
}

.settings-lock-collapsed{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.settings-lock-expanded{
  display: inline-block;
  margin-bottom:3px;
}

.settings.locked{
  pointer-events: none;
}

