#app.row {
  margin-left: 0px;
  margin-right: 0px;
}

#sidebar-container {
  min-height: 92vh;
  height: calc(100vh - 48px);
  width: 12rem;
  padding: 0;
  border-right: 1px solid $mid-grey;
  background-color: $pale-blue;
  position: relative;
}

.sidebar-expanded {
  min-width: 12rem;
}

.sidebar-expanded > .sidebar{
  //min-width: 10rem;
  width: 12rem;
  min-width: 12rem;//this is the value that was on omicspg
	max-height: calc(100vh - 300px);
	overflow-y: auto;
}

.sidebar-collapsed {
  width: 3rem;
  max-width: 3rem;
}

.active-sidebar {
  border-left: .3rem solid $warning !important;
  background-color: #EFEFEF;
}

.sidebar-menu{
  padding: .7rem 0rem .7rem 1rem;
  line-height: 1.4rem;
  display: block;
  font-size: 18px;
	font-weight: bold;
  color: #333 !important;
}

.sidebar-menu-item{
  padding-left: 1rem;
  border-left: .3rem solid transparent;
  font-size: 17px;
	line-height: 1.1rem;
	font-weight: 400;
	color: #333 !important;	
	padding: 0 0.4rem 0 0.4rem;
}

.sidebar-item {
	font-size: 18px;
	font-weight: bold;
	color: #333 !important;
}

.tab-sidebar{
  border-left: .3rem solid transparent;
  line-height: 1.1rem;
	padding: 0.65rem 0rem 0.65rem 0.7rem; //this is the value that was on omicspg
  //padding: .7rem .7rem;
  display: block;
}

.sidebar-label {
	font-size: 18px;
}

// 'disable' text-muted
.text-muted {
	color: #333 !important;
}
