#app.row {
  margin-left: 0px;
  margin-right: 0px;
}

#sidebar-container {
  min-height: 92vh;   
  padding: 0;
  border-right: 1px solid $mid-grey;
  background-color: $light-grey;
}

#sidebar-help-container {
  width: 15rem;
  position: absolute;
  bottom: 1rem;
}

.sidebar-expanded {
  min-width: 15rem;
}

.sidebar-expanded > .sidebar{
  min-width: 10rem;
}

.sidebar-collapsed {
  min-width: 4rem;
}

.sidebar-menu-item {
  padding-left: 1rem;
}
