#body-row {
    margin-left:0;
    margin-right:0;
}

#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
