html {
	.btn-social {
		padding: 3px !important;
		background-color: white !important;
		border-color: white !important;
		font-size: 32px !important;
		color: steelblue !important;	
	}
	
	// used in socialmedia popup
	textarea.form-control {
		font-size: 0.95em;
		line-height: 1.1em;
	}
}
